<% @tweets.each do |tweet|%>
 <div class="team">
  <%= image_tag "rank#{tweet.user.toprank_id}.png"%>
  <%= image_tag "rank#{tweet.user.jgrank_id}.png"%>
  <%= image_tag "rank#{tweet.user.midrank_id}.png"%>
  <%= image_tag "rank#{tweet.user.suprank_id}.png"%>
  <%= image_tag "rank#{tweet.user.botrank_id}.png"%>
   <div class="detail">

    <div calss="name">
     チーム名　　: <%=tweet.user.teamname%>
    </div>
    <div calss="weekday">
     活動日　　　: <%=tweet.weekday[:name]%>
    </div>
    <div class="time">
     コアタイム　: <%=tweet.starttime.strftime("%H:%M")%> ~ <%=tweet.endtime.strftime("%H:%M")%>
    </div>
    <div class="comment">
     詳細説明　　: <%=tweet.detail%>
     </div>
   </div>
   
 </div>
<%end%>