<% @users.each do |user|%>
 <div class="team">
  <%= image_tag "rank#{user.toprank_id}.png"%>
  <%= image_tag "rank#{user.jgrank_id}.png"%>
  <%= image_tag "rank#{user.midrank_id}.png"%>
  <%= image_tag "rank#{user.suprank_id}.png"%>
  <%= image_tag "rank#{user.botrank_id}.png"%>
   <div class="detail">
    <div calss="name">
     チーム名　　: <%= link_to user.teamname, user_path(user.id)%>
    </div>
    <div calss="weekday">
     活動日　　　: <%=user.weekday[:name]%>
    </div>
    <div class="time">
     コアタイム　: <%=user.starttime.strftime("%H:%M")%> ~ <%=user.endtime.strftime("%H:%M")%>
    </div>
    <div class="comment">
     詳細説明　　: <%=user.detail%>
     </div>
     <% if user_signed_in?%>
      <% if current_user.following?(user)%>
        <%= link_to '関係を解消する', unfollow_path(user.id), method: :POST, class: :nav__logout %>
      <% else %>
        <%= link_to 'パートナー申請', follow_path(user.id), method: :POST, class: :nav__logout %>
      <% end %>
　　　<% end %>

   </div>
 </div>
 
<%end%>
