<%= form_with model: @user, local: true do |f| %>

   <div class="field">
    <%= f.label :teamname, "チーム名" %><br />
    <%= f.text_field :teamname %>
   </div>

  <div class="field">
    <%= f.label :toplank, "TOP RANK" %><br />
    <%= f.collection_select(:toprank_id, Rank.all, :id, :name, {include_blank: "---"}, {class:"select-box"}) %>
  </div>

   <div class="field">
    <%= f.label :jglank, "JG RANK" %><br />
    <%= f.collection_select(:jgrank_id, Rank.all, :id, :name, {include_blank: "---"}, {class:"select-box"}) %>
   </div>

   <div class="field">
    <%= f.label :midlank, "MID RANK" %><br />
    <%= f.collection_select(:midrank_id, Rank.all, :id, :name, {include_blank: "---"}, {class:"select-box"}) %>
   </div>

   <div class="field">
    <%= f.label :suplank, "SUP RANK" %><br />
    <%= f.collection_select(:suprank_id, Rank.all, :id, :name, {include_blank: "---"}, {class:"select-box"}) %>
   </div>

   <div class="field">
    <%= f.label :botlank, "BOT RANK" %><br />
    <%= f.collection_select(:botrank_id, Rank.all, :id, :name, {include_blank: "---"}, {class:"select-box"}) %>
   </div>

   <div class="field">
    <%= f.label :weekday, "活動日" %><br />
    <%= f.collection_select(:weekday_id, Weekday.all, :id, :name, {include_blank: "---"}, {class:"select-box"}) %>
   </div>

   <div class="field">
    <%= f.label :starttime, "コアタイム" %><br />
    <%= f.time_field :starttime %>〜〜
    <%= f.time_field :endtime %>
  </div>

  <div class="field">
    <%= f.label :detail, "チーム紹介" %><br />
    <%= f.text_area :detail %>
  </div>


  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
  
<% end %>

