 <%= form_with(scope: :search, url: users_path, method: :get, local: true) do |f| %>
  <div class="search">
    <div class="sfield">
      <%= f.label(:チーム名) %>
      <%= f.text_field :teamname, value: @search_params[:teamname] %>
    </div>

    <div class="sfield">
      <%= f.label(:活動日) %>
      <%= f.collection_select(:weekday_id, Weekday.all, :id, :name, selected: @search_params[:weekday_id], include_blank: "---") %>
    </div>

    <div class="sfield">
      <%= f.label(:コアタイム) %>
      <%= f.collection_select(:stime_id, Stime.all, :id, :name, selected: @search_params[:stime_id], include_blank: "---") %>
    </div>

    <div class="sfield">
      <%= f.label(:チームパワー) %>
      <%= f.collection_select(:power_id_from, Power.all, :id, :name, selected: @search_params[:power_id_from], include_blank: "---") %> ~
      <%= f.collection_select(:power_id_to, Power.all, :id, :name, value: @search_params[:power_id_to], include_blank: "---") %>
    </div>

    <div class="sfield">
      <%= f.submit('検索') %>
    </div>
  </div>
 <%end%>
<% @users.each do |user|%>
 <div class="team">
  <div class="image">
   <div class="rank">
    <%= image_tag "rank#{user.toprank_id}.png"%>
    <div>T O P</div>
   </div>
   <div class="rank">
    <%= image_tag "rank#{user.jgrank_id}.png"%>
    <div> J G </div>
   </div>
   <div class="rank">
    <%= image_tag "rank#{user.midrank_id}.png"%>
    <div>M I D</div>
   </div>
   <div class="rank">
    <%= image_tag "rank#{user.suprank_id}.png"%>
    <div>S U P</div>
   </div>
   <div class="rank">
    <%= image_tag "rank#{user.botrank_id}.png"%>
    <div>B O T</div>
   </div>
  </div>
  <div class="detail">
    <div calss="name">
     チーム名　　: <%= user.teamname%>
    </div>
    <div calss="weekday">
     活動日　　　: <%=user.weekday[:name]%>
    </div>
    <div class="time">
     コアタイム　: <%=user.stime[:name]%>
    </div>
    <div class="comment">
     チームパワー: <%=user.power_id%>
     </div>
   </div>
    <div class="select">
     <% if user_signed_in? && user.id != current_user.id%>
      <% if current_user.following?(user)%>
        <%= link_to '関係を解消する', unfollow_path(user.id), method: :POST, class: :nav__post %>
      <% else %>
        <%= link_to 'パートナー申請', follow_path(user.id), method: :POST, class: :nav__post %>
      <% end %>
     <% end %>
    </div>
 </div>
 
<%end%>
