
<div class="chat">
<% if @user.id == current_user.id %>
<% else %>
  <% if @isRoom == true %>
  <META http-equiv="Refresh" content="0.1;URL=/rooms/<%= @roomId %>">
  <div class="startchat">
    <p><a href="/rooms/<%= @roomId %>"></a>
  </div>
  <% else %>
    <%= form_for @room do |f| %>
      <%= fields_for @entry do |e| %>
        <%= e.hidden_field :user_id, :value=> @user.id %>
      <% end %>
   <%= f.submit "#{@user.teamname}とのチャットルームを作成する" %>
    <% end %>
  <% end %>
<% end %>
  <div class="gotop">
   <%= link_to "", root_path %>
  </div>
</div>